Beaker>=1.8.0
click>=6.6
Flask>=1.0.0
foundry>=0.0.3
funcsigs>=1.0.2
heroku>=0.1.4
itsdangerous>=0.24
Jinja2>=2.10.1
MarkupSafe>=0.23
oauthlib>=1.1.2
pysolr>=3.5.0
python-dateutil>=1.5
PyYAML>=4.2b1
requests>=2.20.0
requests-oauthlib>=0.6.2
six>=1.10.0
tweepy>=3.5.0
virtualenv>=15.0.3
watson-developer-cloud>=0.18.0
Werkzeug>=0.15.3
xmltodict>=0.10.2
gunicorn>=19.6.0
whitenoise>=2.0.6
Django>=1.11.28
dj-database-url>=0.4.1
