<!DOCTYPE html>
<html>

<head>

  <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"> -->
 <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css"/> <!-- this is responsible for Gautam's top right side of the top bar being aligned as such -->

  <!-- <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"> -->
  <!-- <link rel="stylesheet" type="text/css" href="/static/font-awesome/css/font-awesome.min.css"/> -->

  <link href='https://fonts.googleapis.com/css?family=Ubuntu|Lobster|Playfair+Display+SC' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/static/MainPage.css"/>

   <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css" />

    <title>{{ author }}'s app</title>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-88908181-1', 'auto');
      ga('send', 'pageview');

    </script>

</head>

  <body>
    <!-- Code for the Header  ***Do Not Touch*** -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand name-title" href="/" color="#FFFFFF"> <b> Haroun Ahmed <i class="fa fa-child fa-lg"></i> </b>
                </a>
            </div>

            <div class="text-container">
                <div class="navbar-collapse collapse navbar-responsive-collapse nav-bar-menu">

                    <ul class="nav navbar-nav pull-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">About Me<b class="caret"></b></a>
                            <ul class="dropdown-menu drop-down-items">
                                <li><a href="https://github.com/harounahmed2">GitHub</a></li>
                                <li><a href="http://www.linkedin.com/in/haroun-ahmed">LinkedIn</a></li>
                                <li><a href="resume" target="_newtab">Resume</a></li>
                                <li class="divider"></li>
                                <li><a href="#AboutMePage">About Haroun</a></li>
                                <li class="divider"></li>
                                <li><a href="#AboutSitePage">About This Website</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="#ProjectsPage">Projects </a>
                        </li>

                        <li>
                            <a href="#PublicationsPage">Publications</a>
                        </li>

                        <li>
                            <a href="mailto:harounahmed2@gmail.com?Subject=Website%20Hello"> Contact </a>
                        </li>
                    </ul>


                </div>
            </div>
        </div>
    </div>
    <!-- End the Header Bar -->


    <h2>It's all about the SQAW and the HOOS {{ name }}!</h2>
    <h3> Thanks a bunch for the inspiration Gohum </h3>
    <img src="{{url_for('static', filename='Hoosgif.gif')}}" />


  </body>


</html>
